@model IEnumerable<Tournament.Data.Tournament>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Tournaments</h2>

<ul>
    @foreach (Tournament.Data.Tournament tournament in Model)
    {
        <li>
            @Html.ActionLink(tournament.Name, "", "Tournament", new { id = tournament.TournamentID }, null)
            (@Html.ActionLink("Delete", "Delete", "Tournament", new { id = tournament.TournamentID }, null))
        </li>
    }
</ul>


<fieldset>

    <legend>Add new tournament</legend>

    @using (Html.BeginForm("Add", "Tournament", FormMethod.Post))
    {
        <p>
            Name: <input type="text" name="Name" />
    
            <br />
    
            <input type="submit" value="Submit" />
        </p>
    }
</fieldset>