@model Tournament.Models.GroupTable

@{
    Layout = null;
    ViewBag.Title = "GroupView";
}
    
    @Html.Partial("GroupTable", Model)

    <p>
        @Html.ActionLink("View all group fixtures", "Index", "Fixture", new { id = Model.GroupID }, null)
    </p>

    <fieldset>

        <legend>Add a new team</legend>

        @using (Html.BeginForm("Add", "Team"))
        {
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="Name" /></td>
                </tr>
                <tr>
                    <td>Player:</td>
                    <td><input type="text" name="Player" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="hidden" name="GroupID" value="@Model.GroupID" />
                        <input type="submit" value="Add" />
                    </td>
                </tr>
            </table>
        }
    
    </fieldset>