@{
    ViewBag.Title = "Generate";
}

<h2>Generate</h2>


@using (Html.BeginForm("Generate", "Fixtures"))
{
    <p>
        <label for="numberOfRounds">Number of rounds*:</label>
        <input type="text" name="numberOfRounds" value="2" />
        *must be multiple of 2
        Click the button to generate new fixtures for the group.
        <input type="hidden" name="id" value="@Model" />
        <input type="submit" name="submit" value="Generate" />
    </p>
}