@{
    ViewBag.Title = "Tournament :: about";
}

<div id="left">

    <h2>about</h2>

    <p>
        This is a simple site used to help keep track of Fifa tournaments.
        It will generate fixtures and then allow you to update the scores, allowing you to see the teams in a group table format.
    </p>

    <p>
        Obviously you could use the tournament system built into Fifa, but this way allows you to play the games in any order.
    </p>

</div>