<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TournamentEntities" connectionString="metadata=res://*/TournamentEntities.csdl|res://*/TournamentEntities.ssdl|res://*/TournamentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SqlExpress;initial catalog=Tournament;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>